* {
    box-sizing: border-box;
    font-family: cursive;

}


.container {
    width: 100%;


}

.MainTittle {
    text-align: center;
}

h3 {
    clear: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}


.col-lg-1 {

    background-color: rgb(153,153,153);
    width: 33.3%;
    height: 200px;
    border: 3px solid black;
    margin: 10px;
    padding: 0;

}

.col-lg-2 {

    background-color: rgb(153,153,153);
    width: 33.3%;
    height: 200px;
    border: 3px solid black;
    margin: 10px;

}

.col-lg-3 {

    background-color: rgb(153,153,153);
    width: 33.3%;
    height: 200px;
    border: 3px solid black;
    margin: 10px;
}

.name1 {
    height: 35px;
    width: 30%;
    background-color: rgb(213, 152, 152);
    text-align: center;
    float: right;
    border: 1px solid black;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.name2 {
    height: 35px;
    width: 30%;
    background-color: rgb(193,69,67);
    text-align: center;
    float: right;
    border: 1px solid black;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    

}

.name3 {
    height: 35px;
    width: 30%;
    background-color: rgb(229, 209, 152);
    text-align: center;
    float: right;
    border: 1px solid black;
    margin:0;
    
    font-weight: bold;
    font-size: 20px;

}

@media (min-width: 992px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3 {
        float: left;
        margin: 10px;

    }

    .col-lg-1 {
        width: 30.3%;
    }

    .col-lg-2 {
        width: 30.3%;
    }

    .col-lg-3 {
        width: 30.3%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    name3 {
        float: left;



    }

    .col-md-1 {
        width: 47%;
    }

    .col-md-2 {
        width: 47%;
    }

    .col-md-3 {
        width: 98%;
    }

    .name3{
      width: 14%;
      text-align:center;
        padding: 0.5%;
    }
    
 
}

@media (min-width:0px) and (max-width: 767px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    name3 {
        
    }

    .col-md-1 {
        width: 97%;
    }

    .col-md-2 {
        width: 97%;
    }

    .col-md-3 {
        width: 97%;
    }

    .name3 {
        width: 30%;
    }

    .name2 {
        width: 30%;
    }

    .name1 {
        width: 30%;
    }
}

